[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "piwigo"
url = "https://piwigo.ilikeviecher.com/ftp-upload/packages/"
verify_ssl = true

[packages]
openimageio = {version = "==2.1.16",index = "piwigo"}
lxml = "*"
numpy = "==1.18.4"
pyside2 = "==5.15.2"
pandas = "*"
xlrd = "==1.2.0"
requests = "*"
bottleneck = "*"
jsonpickle = "==1.5.0"
ujson = "*"
mysql-connector = "*"
python-socketio = "==5.1.0"
python-engineio = "==4.0.1"
mbvconf = {version = "==0.97",index = "piwigo"}
plmxml = {version = "==0.96",index = "piwigo"}

[dev-packages]
paramiko = "*"
pyinstaller = "*"
