[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
numpy = "*"
pyside2 = "==5.12.1"
pandas = "*"
xlrd = "*"
imageio = "*"
requests = "*"
bottleneck = "*"

[dev-packages]
jupyter = "*"
paramiko = "*"
pyinstaller = "*"
