[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
numpy = "*"
pyside2 = "==5.12.2"
pandas = "*"
xlrd = "*"
imageio = "*"
requests = "*"
bottleneck = "*"
jsonpickle = "*"

[dev-packages]
jupyter = "*"
tornado = "==5.1.1"
paramiko = "*"
pyinstaller = "*"
